body
{
    background-color: black;
    color: white;
    font-size:  34px;
    font-weight: 700;
    font-family: 'Inconsolata';
}

#kontener
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#tytul
{
    text-align: center;
    min-height: 40px;
    width: 900px;
    margin-top: 50px;
	margin-bottom: 50px;
    font-size: 48px;
}

#szubienica
{
    text-align: center;
	min-height: 330px;
}

#klawiatura
{
    padding-left: 90px ;
	min-height: 220px;

}

.litera
{
    width: 35px;
    height: 35px;
    padding: 5px;
    padding-top: 5px;
    margin: 5px;
    border: 3px solid grey;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    float: left;
}

.litera:hover
{
    background-color: #222222;
    color: white;
    border: 3px solid white;
}

.reset
{
	color:green;
	cursor: pointer;
	font-size: 48px;
    
}

.reset:hover
{
	color:white;
}

.zdj1
{
    width: 600px;
    height: 330px;
}

